@tailwind base;
@tailwind components;
@tailwind utilities;

.video_wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_wrap video {
  position: absolute;
 z-index: 1;
 
}